/* Reset and general styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #efefef;
}

#passLength::placeholder {
  color: #121212;
}



html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Body and wrapper styling */
body {
  background-color: #121212;
}

.wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header styling */
header {
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Card styling */
.card {
  background: #333;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-header,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Input and button styling */
.criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

#passLength {
  width: 350px; 
  padding: 15px; 
  font-size: 24px; 
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: auto;
  text-align: center;
}

input[type="number"],
input[type="checkbox"] {
  margin: 10px;

}

/* Toggle Switches */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-right: 10px;
}

.switch input {
  display: none;
  vertical-align: middle;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 12px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #ff4757;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 0px;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.switch-label {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1.5;

}



.btn {
  background: #ff4757;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  width: 375px;
  transition: background .3s ease;
}

.btn:hover {
  background: #e84118;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;  /* Adjust this as needed */
  margin: auto;
}

#password {
  width: 400px;  /* Adjust this as needed */
  padding: 15px;
  margin-top: 15px;
  border: 2px solid #555;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-size: 1em;
  text-align: center;  /* This centers the text inside the textarea */
}

#copyBtn {
  width: 200px;
  margin-top: 10px;
}

#passLength{
  color: black;
  font-size: large;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .btn {
    font-size: 0.8em;
    padding: 10px 20px;
  }
}
